<h1><p> Solar Water, PumpSolar, Rooftop, SystemSolar ,MicrogridSolar ,Lighting
Solar, Water Pump.
A solar water pump has a mini power house at its heart and consists of a calibrated and matching solar array of modules – tuned with the equivalent power of pump for that particular application. The solar water pumping system is capable of running all types of electrical water pumps with applications varying from irrigation to household demands. Irrigation pumps such as submersible, surface or deep well can also be coupled with drip irrigation systems to enhance the returns from this configuration.</p>

<p>A typical solar water pumping system is known by the sum total of solar array size that is required to run the attached pump. A 1000 Wp solar water pump is capable of drawing and pumping approximately 40,000 litres of water per day from a source that is up to 10 meters deep. This is sufficient to irrigate about 2 acres of land with regular crops. A 1000 Wp solar water pump helps save up to Rs 45,000 when compared to equivalent use of a diesel-operated pump over a year.</p>
<p> 
1 
Each solar array has a number of solar modules connected in parallel or series. Every solar PV panel generates current by converting solar radiation to electrical energy.
 </p>
 <p>
2 
The electrical energy from the entire array is controlled, tuned and directed by the inbuilt controller in DC pumps or through the Variable Frequency Driver(VFD) and enables the connected pump (may be submersible or surface) to draw water and feed the delivery pipelines.
 </p>
 <p>
3 
The water thus drawn from ponds, rivers, bore wells or other sources by a solar water pump is pumped to supply water as required. It can be stored in tanks from where it is later channelled to fields or the supply from the pump may be coupled with drip irrigation systems to provide optimised water to fields directly.

</p></h1>